<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="DirectTransact.co.za" value="https://pkgs.dev.azure.com/DT-Azure-Team/_packaging/DT-Azure-Team/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <DirectTransact.co.za>
      <add key="Username" value="linux-nuget" />
      <add key="ClearTextPassword" value="lqgjidgm26mqos2wk7lkoy7j74wu4h4yy7z6faotbcotavvo7wqq" />
    </DirectTransact.co.za>
  </packageSourceCredentials>
</configuration>