<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="DirectTransact.co.za" value="https://pkgs.dev.azure.com/DT-Azure-Team/_packaging/DT-Azure-Team/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <DirectTransact.co.za>
      <add key="Username" value="linux-nuget" />
      <add key="ClearTextPassword" value="565i6pxkxac45kfcp4lvbkr6i2whnh7tbmnsx3nij7w5ac6fvqba" />
    </DirectTransact.co.za>
  </packageSourceCredentials>
</configuration>
